html, body{
    background-color:white;
    height: 100%;
    width: 100%;
}
p{
    color:grey;
    font-weight:lighter;
    font-family:Helvetica;
    font-size:24px;
}
#userFormToSearchBooks{ /* position of the form */
    margin: auto;
    position:absolute;
    top:0%;left:5%;bottom:0;right:5%;
        z-index:1;
}
#locationBar{ /* style for the search bar */
    position:absolute;
    top:25%;
    max-height:70px; min-height:70px;
    width:100%;
    border-radius: 5px;
    background-color: rgba(235,235,235,0.9);
    border-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
    font-size: 24px;
    color:black;
    font-weight:300; /* thickness of font */
    z-index:1;
}
#searchBar{ /* style for the search bar */
    position:absolute;
    top:50%;
    max-height:70px; min-height:70px;
    width:100%;
    border-radius: 5px;
    background-color: rgba(235,235,235,0.9);
    border-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
    font-size: 24px;
    color:black;
    font-weight:300; /* thickness of font */
    z-index:1;
}
#navigationBar{/* Header bar with all the UI buttons */
    position: fixed;
    top:0px;left:0px;right:0px;
    height:60px;
    width:110%;
    background-color:rgba(242,242,242,0.9);
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
    z-index:2;
}
#footerBar{ /* Footer bar with other navaigation buttons */
    position: fixed;
    bottom:0px;left:0px;right:0px;
    height:60px;
    width:110%;
    background-color:rgba(242,242,242,0.9);
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
    z-index:2;

}
#title{
    position:fixed;
    color:black;
    font-family:Helvetica Neue;
    font-weight:500;
    top:1%;left:50%;
    transform: translate(-50%, -50%);
    z-index:3;
}
#locationServices{
    position:fixed;
    height:45px;left:2%;top:1%;
    z-index:3;
}

#notMobile{
    padding-top:40px;
    text-align:center;
}
#notLandscape{
    display:none;
}
#continue{
    display:none;
}