html, body{
    background-color:rgba(40,43,53,1);
}
#navigationBar{
    position:fixed;
    top:0px;left:0px;
    width:100%;
    height:15%;
    background-color: rgba(35,35,35,0.8);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:2px 0px 10px;
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(82,84,91,1);
    z-index:1;
}
#footerBar{
    position:fixed;
    left:0px;bottom:0px;
    width:100%;
    height:15%;
    background-color: rgba(35,35,35,0.8);
    -webkit-backdrop-filter: blur(10px);    box-shadow:-2px 0px 10px;
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(82,84,91,1);
    z-index:1;
}
#locationServices{
    position:fixed;
    height:10%;left:2%;top:2%;
    z-index:3;
}
#locationBar{ /* style for the search bar */
    position:absolute;
    top:20%;left:34%;
    max-height:70px;
    width:30%;height:50%;
    background-color: rgba(235,235,235,0.1);
    border-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
    font-size: 100%;
    color:white;
    font-weight:300; /* thickness of font */
    z-index:1;
}
#searchBar{ /* style for the search bar */
    position:absolute;
    top:20%;left:68%;
    max-height:70px;
    width:30%;height:50%;
    background-color: rgba(235,235,235,0.1);
    border-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
    font-size: 100%;
    color:white;
    font-weight:300; /* thickness of font */
    z-index:1;
}

#pano{
    position:absolute;
    z-index:0;
    height:100%;
    top:0%;left:0px;bottom:15%;
}
#notLandscape{
    display:none;
}
#Prev{
    position:absolute;
    top:5%;left:2%;
    font-family:Helvetica, Helvetica, Ariel;
    font-size:24px;
    color:rgba(235,235,235,1);
}
#Next{
    position:absolute;
    top:5%;left:90%;
    font-family:Helvetica, Helvetica, Ariel;
    font-size:24px;
    color:rgba(235,235,235,1);
}
#dev{
    position:absolute;
    top:5%;left:2%;
    font-family:Helvetica, Helvetica, Ariel;
    font-size:24px;
    color:rgba(82,190,91,1);
}
