html, body{
    background-color:504F4F;
    height: 100%;
    width: 100%;
}
p{
    color:white;
    font-weight:lighter;
}
#userFormToSearchBooks{ /* position of the form */
    margin: auto;
    position:absolute;
    top:40%;left:5%;bottom:0;right:5%;
}
#searchBar{ /* style for the search bar */
    max-height:70px; min-height:70px;
    width:100%;
    border-radius: 5px;
    background-color: #2b2b2b;
    border-color: transparent;
    font-size: 2em;
    color:white;
    font-weight:300; /* thickness of font */
}
