html, body{
    background-color:white;
    height: 100%;
    width: 100%;
}
p{
    color:black;
    font-weight:lighter;
}
#userFormToSearchBooks{ /* position of the form */
    margin: auto;
    position:absolute;
    top:40%;left:5%;bottom:0;right:5%;
}
#searchBar{ /* style for the search bar */
    max-height:70px; min-height:70px;
    width:100%;
    border-radius: 5px;
    background-color: rgba(235,235,235,1);
    border-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
    font-size: 1em;
    color:blacks;
    font-weight:300; /* thickness of font */
}
#navigationBar{/* Header bar with all the UI buttons */
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    max-height:20%;
    height:10%;
    width:110%;
    background-color:rgba(242,242,242,1);
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
}
#footerBar{ /* Footer bar with other navaigation buttons */
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    max-height:20%;
    height:10%;
    width:110%;
    background-color:rgba(242,242,242,1);
    outline-style: solid;
    outline-width: 1px;
    outline-color:rgba(178,178,178,1);
}